body{padding:20px;}

 .gallery-item .selected{
   border:4px solid #da0707;
 }
 .gallery-item img.selected{-webkit-filter: brightness(0.4);}

.gallery-item img{
  width:99%;
  border:3px solid transparent;
  transition:filter .2s, border .2s;
  border-radius:3px;
}

.gallery-item{
  padding:0;}